.container {
  padding-bottom: 50px;
}

.topbar {
  background: black;
  height: 70px;
  width: 1000px;
}

.sidebar {
  background: #DFDFDF;
  height: 400px;
  width: 257px;
  float: left;
}

.walkMap {
  background: white;
  height: 400px;
  width: 700px;
  float: left;
}

.dateinfo {
  color: white;
  font: Arial;
  padding-top: 10px;
  padding-left: 10px;
}

.walkerName {
  color: grey;
  font: Arial;
  padding-left: 10px;
}

.walkPrice:hover {
  color: white;
  font: Arial;
  float: right;
}

.topPanelBox {
	height:100px;
  background: #DFDFDF;
}


/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.logo {
  margin-bottom: 15px;
}

.grey {
  color:#818181
}

.link {
    color:#0000FF;
    cursor:pointer;
}

/* Style page content */
#main {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
