/******************* 
top pane styling 
*******************/

#top-pane-body {
	margin-top: 20px;
	width: 100%;
	height: 80%;
}

/* stack the top pane's contents beside each other */
#top-pane-body > div { 
	float:left;
	width: 31%;
}

#top-pane-body form {
	display: block;
	text-align: center;
}

#gps-coordinates {
	margin-top: 10px;
	height: 80%;
}

#address-input {
	margin-top: 10px;
	height: 80%;
}

#pickup-instructions {
	height: 90%;
}

#gps-coordinates input {
	width: 70px;
	margin-left: 3px;
}

#address-input input {
	width: 200px;
}

#pickup-instructions textarea {
	width: 300px;
	height: 50px;
	resize: none;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/******************* 
left pane styling 
*******************/

/* needed to make the below styling work */
#left-pane-body {
	height: 100%;
}

/* Make each section take up a third of the column */
#left-pane-body > div {
	height: 25%;
	width: 100%;
}

#left-pane-body .label {
	margin-top: 60px;
}

#walk-length-slider-container {
	width: 100%;
	text-align: center;
}

#walk-length-slider {
	width: 80%;
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	background: #c3c3c3;
	outline: none;
	opacity: 0.7; /* fancy appearing effects */
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 5px;
}

#walk-length-slider:hover {
	opacity: 1; /* fully show on mouse over */
}

#walk-length-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #e32020;
	cursor: pointer;
	border-radius: 50%;
}

#walk-length-slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #e32020;
	cursor: pointer;
	border-radius: 50%;
}

#walk-length > span {
	display: block;
	text-align: center;
}

#walk-needs-container {
	margin: 0px 20px 20px 20px;
	line-height: 31px;
	text-align: center;
}

.walk-need {
	display: inline;
	border: 1px;
	border-color: black;
	border-style: solid;
	padding: 4px;

	margin: 2px 2px 2px 2px;
	white-space:nowrap; /* prevents line break mid-box */
	
}

#price {
	display: block;
	text-align: center;
	font-size: 150%;
}

/******************* 
right pane styling 
*******************/

#right-pane-body {
	margin-top: 0px;
	height: 95%;
	width: 100%;
	overflow: auto; /* add a scroll bar if there's too many walkers */
}

.walker {
	width: 95%;
	min-height: 110px;
	margin-top: 5px;
	display: block;
	padding: 10px;
}

.walker-pic {
	float: left;
	max-height: 100px;
	max-width: 100px;
	border: 1px;
	border-color: black;
	border-style: solid;
	margin: 0px 0px 5px 5px;
}

.walker-bio {
	margin: 5px 5px 5px 115px;
}

.walker-name {
	font-size: 150%;
}

.rating-stars {
	font-size: 150%;
	padding-left: 5px;
	padding-right: 5px;
}

.rating-number {
	font-weight: bold;
	font-size: 120%;
}

.walker-description {
	margin-top: 2px;
}