.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.navbar{
  background-color: seagreen;
}
.navlinks{
  margin-left: 580px;
  position:relative
}
  
.navtext{
  color: bisque;
  font-size: 20px
}
.NavBrand{
  width: 30px;
  height: 30px
}
.buttonjumbo{
  float:left;
  bottom:100px;
}
#buttonPosition{
  position: relative;
  top: 200px ;
  /* right: 100px ; */
  bottom: 4000px;
  left:0px
}

.jumbo{
  height:350px
}